POSTGRES_HOST=nestjs-db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5436
POSTGRES_USER=nestjs
POSTGRES_PASSWORD=nestjs
POSTGRES_DB=nestjs
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET_KEY=8ac678509fe8436ac5ea6618f27b001006bc9263cc9698369078574f87594f4c
